BasedOnStyle: Microsoft
IndentWidth: 2
Language: Cpp
ColumnLimit: 80
NamespaceIndentation: All
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '<.*>'
    Priority:        1
  - Regex:           '.*'
    Priority:        2
